@import '../../guide.less';

.page-header {

    &__logo {
        width: 120px;
    }

    &__beta {
        width: 30px;
        margin: 0 0 auto 5px;
    }

    &__search {
        margin: 0 0 0 auto;
    }
}
